<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParsePal - Target</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='target.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="target">
            <p class="tr">Target Information</p>
        </div>
        <div class="img">
            <p class="symbol">ParsePal</p>
        </div>
    </header>
    <div class="login">
        <form action="/process" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="hidden" name="platform" value="{{ request.args.get('platform') }}">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
